.pointer {
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
    border: 2px solid white;
	background: #F76647;
	cursor: pointer;
	box-shadow: 0 0 0 rgb(244,157,22);
	animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(244,157,22, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(244,157,22, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(244,157,22, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(244,157,22, 0.4);
    box-shadow: 0 0 0 0 rgba(244,157,22, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(244,157,22, 0);
      box-shadow: 0 0 0 10px rgba(244,157,22, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(244,157,22, 0);
      box-shadow: 0 0 0 0 rgba(244,157,22, 0);
  }
}